.fork-me-baby {
  position: fixed; }
  .fork-me-baby:before {
    content: '';
    border-style: solid;
    position: absolute;
    pointer-events: none;
    transition: all 250ms ease-in-out; }
  .fork-me-baby .github-octicon-mark {
    fill: #ffffff; }
  .fork-me-baby a {
    position: absolute;
    top: 15px;
    height: 32px; }
  .fork-me-baby.top-left {
    top: 0;
    left: 0; }
    .fork-me-baby.top-left:before {
      border-top-width: 0px;
      border-right-width: 0px;
      border-bottom-width: 100px;
      border-left-width: 125px;
      border-color: transparent transparent transparent transparent;
      border-left-color: #333333; }
    .fork-me-baby.top-left:hover:before {
      border-color: transparent transparent transparent transparent;
      border-left-color: #4078C0; }
    .fork-me-baby.top-left:active:before {
      border-color: transparent transparent transparent transparent;
      border-left-color: #6495ed; }
    .fork-me-baby.top-left:before {
      top: 0; }
    .fork-me-baby.top-left:before {
      left: 0; }
    .fork-me-baby.top-left a {
      left: 20px; }
  .fork-me-baby.top-right {
    top: 0;
    right: 0; }
    .fork-me-baby.top-right:before {
      border-top-width: 0px;
      border-right-width: 125px;
      border-bottom-width: 100px;
      border-left-width: 0px;
      border-color: transparent transparent transparent transparent;
      border-right-color: #333333; }
    .fork-me-baby.top-right:hover:before {
      border-color: transparent transparent transparent transparent;
      border-right-color: #4078C0; }
    .fork-me-baby.top-right:active:before {
      border-color: transparent transparent transparent transparent;
      border-right-color: #6495ed; }
    .fork-me-baby.top-right:before {
      top: 0; }
    .fork-me-baby.top-right:before {
      right: 0; }
    .fork-me-baby.top-right a {
      right: 20px; }
  .fork-me-baby.bottom-right {
    bottom: 0;
    right: 0; }
    .fork-me-baby.bottom-right:before {
      border-top-width: 0px;
      border-right-width: 0px;
      border-bottom-width: 100px;
      border-left-width: 125px;
      border-color: transparent transparent transparent transparent;
      border-bottom-color: #333333; }
    .fork-me-baby.bottom-right:hover:before {
      border-color: transparent transparent transparent transparent;
      border-bottom-color: #4078C0; }
    .fork-me-baby.bottom-right:active:before {
      border-color: transparent transparent transparent transparent;
      border-bottom-color: #6495ed; }
    .fork-me-baby.bottom-right:before {
      bottom: 0; }
    .fork-me-baby.bottom-right:before {
      right: 0; }
    .fork-me-baby.bottom-right a {
      top: -45px;
      right: 20px; }
  .fork-me-baby.bottom-left {
    bottom: 0;
    left: 0; }
    .fork-me-baby.bottom-left:before {
      border-top-width: 0px;
      border-right-width: 125px;
      border-bottom-width: 100px;
      border-left-width: 0px;
      border-color: transparent transparent transparent transparent;
      border-bottom-color: #333333; }
    .fork-me-baby.bottom-left:hover:before {
      border-color: transparent transparent transparent transparent;
      border-bottom-color: #4078C0; }
    .fork-me-baby.bottom-left:active:before {
      border-color: transparent transparent transparent transparent;
      border-bottom-color: #6495ed; }
    .fork-me-baby.bottom-left:before {
      bottom: 0; }
    .fork-me-baby.bottom-left:before {
      left: 0; }
    .fork-me-baby.bottom-left a {
      top: -45px;
      left: 20px; }
